@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --light: #07de4b;
  --dark: #1b9642;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #eee;
}

.root:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: url("./pics/office-main-back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;

  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.container {
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "logo . . . . ."
    "commercial commercial commercial commercial about imageholder1"
    "imageholder2 services portfolio imageholder3 imageholder4 blog"
    ". . imageholder5 imageholder6 contacts .";
  text-align: center;
  grid-gap: 0;
}

.logo,
.block-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.4s;
}

.block-links {
  width: 100%;
  height: 100%;
  color: #eee;
  text-decoration: none;
}

.block-links:hover {
  color: #fff;
  font-size: 4rem;
}

.content .far {
  font-size: 3.2rem;
  align-self: center;
  padding: 10px;
}

.label {
  padding: 10px;
  align-self: center;
  width: 100%;
  font-size: 1.2rem;
}

.logo {
  grid-area: logo;
  background: #19e058;
}

.logo h1 {
  font-size: 2.7rem;
}

.commercial {
  grid-area: commercial;
  text-align: right;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.4s;
}

.commercial h2 {
  font-size: 1.9rem;
  text-transform: uppercase;
  width: 80%;
}

.commercial p {
  width: 60%;
  font-size: 0.8rem;
  padding-top: 12px;
}

.about {
  grid-area: about;
  background: var(--dark);
}

.imageholder,
.logo,
.about,
.services,
.portfolio,
.blog,
.contacts {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  text-align: center;
}

.imageholder1 {
  grid-area: imageholder1;
  background: url("https://source.unsplash.com/200x200/?interier");
}

.imageholder2 {
  grid-area: imageholder2;
  background: url("https://source.unsplash.com/200x200/?interier");
}

.services {
  grid-area: services;
  background: var(--dark);
}

.portfolio {
  grid-area: portfolio;
  background: var(--light);
}

.imageholder3 {
  grid-area: imageholder3;
  background: url("https://source.unsplash.com/200x200/?interier,hall");
}

.imageholder4 {
  grid-area: imageholder4;
  background: url("https://source.unsplash.com/200x200/?interier,bathroom");
}

.blog {
  grid-area: blog;
  background: var(--light);
}

.imageholder5 {
  grid-area: imageholder5;
  background: url("https://source.unsplash.com/200x200/?interier,livingroom");
}

.imageholder6 {
  grid-area: imageholder6;
  background: url("https://source.unsplash.com/200x200/?kitchen");
}

.contacts {
  grid-area: contacts;
  background: var(--dark);
}

footer:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  background: #eee;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  display: block;
}

footer {
  margin-top: 75px;
  border-top: 2px solid #eee;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px auto;
  width: 75%;
}

.brand {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.footer-menu-items {
  font-size: 1.2rem;
  text-align: center;
  transition: 0.4s;
  padding: 0 10px;
}

.footer-menu-items:hover {
  cursor: pointer;
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}

.footer-menu-items .far {
  font-size: 1.8rem;
}

.footer-menu-items a {
  display: inline-block;
  margin-left: 15px;
  text-decoration: none;
  color: #eee;
}

@media (max-width: 1200px) {
  .container {
    max-width: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "logo logo logo"
      "commercial commercial commercial"
      "about imageholder1 services"
      "imageholder2 portfolio imageholder3"
      "blog imageholder4 contacts";
  }

  .imageholder5,
  .imageholder6 {
    display: none;
  }

  .logo {
    width: 600px;
    height: 100px;
  }

  .commercial {
    text-align: center;
  }

  .commercial h2 {
    width: 100%;
  }

  .commercial p {
    width: 100%;
  }

  footer {
    margin-top: 15px;
  }

  .footer-block {
    flex-wrap: wrap;
  }

  .brand,
  .footer-menu-items {
    padding: 15px;
    padding-top: 0;
    min-width: 200px;
    margin: 0 auto;
  }

  .footer-menu-items:hover {
    padding: 5px 0;
    margin-top: -15px;
  }
}

@media (max-width: 630px) {
  .container {
    max-width: 400px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "logo logo"
      "commercial commercial"
      "about portfolio"
      "imageholder3 services"
      "contacts blog";
  }

  .imageholder1,
  .imageholder2,
  .imageholder4 {
    display: none;
  }

  .logo {
    width: 400px;
    height: 100px;
  }

  footer {
    margin-top: 5px;
  }

  .footer-block {
    margin-top: 0;
  }

  .footer-menu-items:hover {
    padding: 15px 0;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 300px;
    grid-template-areas:
      "logo"
      "commercial"
      "about"
      "portfolio"
      "services"
      "blog"
      "contacts";
  }

  .imageholder3 {
    display: none;
  }

  .logo {
    width: 300px;
    height: 100px;
  }

  .block-links {
    flex-wrap: nowrap;
  }

  .label {
    font-size: 1.5rem;
  }

  .about,
  .services,
  .portfolio,
  .blog,
  .contacts {
    width: 100%;
    height: 100px;
  }

  footer {
    margin-top: 5px;
  }

  .footer-menu-items {
    width: 100%;
  }

  .footer-menu-items a {
    font-size: 1.3rem;
  }
}
